<p id="notice"><%= notice %></p>

<p>
  <strong>Strength:</strong>
  <%= @pain_amount.strength %>
</p>

<%= link_to 'Edit', edit_pain_amount_path(@pain_amount) %> |
<%= link_to 'Back', pain_amounts_path %>
